body{
  background-color: rgb(60, 200, 235);
  color: rgb(8, 45, 54);
}
fieldset {
     border: 1px solid #1bbb50;
     margin:auto;
     padding: 0em, 0em, 0.4em, 0.8em;
     width: 310px;
   }
   fieldset label { 
     display     : block;
     float       : right;
     font-weight : bold;
     margin-right: 0.5em;
     text-align  : left;
     width       : 40px;
   }
   fieldset legend {
      background: #640740;
      border: 1px solid #2a53ac;
      color: #fff;  
      padding: 2px 2px 2px 2px;
   } 
   img {
	 border: 0px;
   }
   p.centrado {
	 text-align:center;
   }
